/* Try different box model properties below */
.site-header p:nth-child(2) {
  color: white;
  margin-bottom: 0;
}
.site-footer {
  font-size: 12px;

  text-align: center;
}
.message:last-child {
  box-shadow: 4px 4px #dba944;
}
